/router/opt/etc/v2ray.json*
logs/*
downloaded_binary/amd64/v2ray.json
downloaded_binary/amd64/geoip.dat
downloaded_binary/amd64/geoip-only-cn-private.dat
downloaded_binary/amd64/geosite.dat
downloaded_binary/amd64/v2ray
downloaded_binary/amd64/xray
